<% provide(:title, @taxon.name) %>
<div class="main-wrapper">
  <!-- LIGHT SECTION -->
  <%= render 'light_header', category_name: @taxon.name %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
          <%= render 'sidebar_taxonomy', taxonomies: @taxonomies %>
          <%= render 'sidebar_color' %>
          <%= render 'sidebar_size' %>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <%= render 'sort' %>
          <div class="row products-area">
            <% @products.each do |product| %>
              <div class="col-sm-4 col-xs-12">
                <div class="productBox">
                  <%= link_to potepan_product_path(product.id) do %>
                    <div class="productImage clearfix">
                      <%= image_tag(product.images.first.attachment(:large), :alt => "products-img-#{product.id}") if product.images.present? %>
                    </div>
                    <div class="productCaption clearfix">
                      <h5><%= product.name %></h5>
                      <h3><%= product.display_amount %></h3>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- LIGHT SECTION -->
  <%= render 'light_footer' %>
<div>
