<% provide(:title, @product.name) %>
<div class="main-wrapper">
  <!-- LIGHT SECTION -->
  <%= render 'light', product: @product %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix">
    <div class="container">
      <div class="row singleProduct">
        <div class="col-xs-12">
          <div class="media">
            <%= render 'media_left', product: @product %>
            <%= render 'media_body', product: @product, path: "/potepan/categories/" %>
          </div>
        </div>
      </div>
      <!-- 関連商品 -->
      <%= render 'related' %>
    </div>
  </section>
</div>
